.search-history.alert.alert-info
  %h3
    检索历史
    %small
      = link_to "全部清空", 
                    delete_all_seeks_path, 
                    class: "gray-link", 
                    data: {method: :delete, confirm: "确认要删除所有的检索记录？", remote: true}

  %ul.nav.nav-pills.nav-stacked.seeks-list
    - if seeks.present?
      - seeks.each do |s|
        %li{class: "#{s.id.eql?(@seek.id) ? 'active' : ''}", id: "seek-#{s.id}"}
          = link_to s do
            = seek_content_of(s)
          /= link_to '×', s, data: {method: :delete}, remote: true
            
