%ul.nav.nav-pills
  %li{class: "#{params[:subtab].eql?("profit_by_nature") ? 'active' : ''}"}
    = link_to "平均利润总额(按公司性质分)",business_statistics_path(:tab=>"profit",:subtab=>"profit_by_nature") 
  %li{class: "#{params[:subtab].eql?("profit_by_industry") ? 'active' : ''}"}
    = link_to "平均利润总额(按公司行业分)",business_statistics_path(:tab=>"profit",:subtab=>"profit_by_industry") 

  %li{class: "#{params[:subtab].blank?  ? 'active' : ''}"}
    = link_to "利润总额合计",business_statistics_path(:tab=>"profit") 

- if tab.eql?("profit") && params[:subtab].eql?("profit_by_industry")  
  #profit_by_industry
    = render "statistics/business/average_companies_profit_by_industry_yearly"

- elsif tab.eql?("profit") && params[:subtab].eql?("profit_by_nature")
  #profit_by_nature
    = render "statistics/business/average_companies_profit_by_nature_yearly"

- else
  #profit_total
    = render "statistics/business/companies_profit_total_yearly"
  

