%ul.nav.nav-list.company_nav.pull-left{:style=>"margin-top:20px"}
  %li.active
    = link_to "#company-basic",   data: {toggle: "tab"} do 
      %i.icon-chevron-right
      1.基本信息
  %li
    = link_to "#company-contact", data: {toggle: "tab"} do
      %i.icon-chevron-right
      2.联络信息  
  %li
    = link_to "#company-relationship", data: {toggle: "tab"} do   
      %i.icon-chevron-right
      3.关联方
  %li
    = link_to "#company-owner", data: {toggle: "tab"} do
      %i.icon-chevron-right
      4.经营者 
  %li
    = link_to "#company-opt", data: {toggle: "tab"} do  
      %i.icon-chevron-right
      5.经营信息   
  %li
    = link_to  "#company-people", data: {toggle: "tab"}  do 
      %i.icon-chevron-right
      6.人员  
  %li
    = link_to "#company-devise", data: {toggle: "tab"}  do 
      %i.icon-chevron-right
      7.设备   
  %li
    = link_to  "#company-place", data: {toggle: "tab"} do                       
      %i.icon-chevron-right
      8.场所  
  %li
    = link_to  "#company-bank", data: {toggle: "tab"} do  
      %i.icon-chevron-right
      9.银行  
  %li
    = link_to  "#company-other", data: {toggle: "tab"} do  
      %i.icon-chevron-right
      10.其他信息  
  %li
    = link_to "#company-review", data: {toggle: "tab"} do                        
      %i.icon-chevron-right
      11.行业评价   
  %li
    = link_to  "#company-finance", data: {toggle: "tab"} do                        
      %i.icon-chevron-right
      12.财务信息  
  %li
    = link_to  "#company-level", data: {toggle: "tab"} do                        
      %i.icon-chevron-right
      13.信用评价
