%table.table.table-bordered.table-striped.table-hover{:class=>"fixed"}
  %col{:width=>"202px"}
  %col{:width=>"350px"}
  %col{:width=>"150px"}
  %col{:width=>"100px"}
  %thead
    %tr
      %td{:colspan=>5}
        .alert.alert-info.clearfix
          = render "index_navbar"
          .pull-right{:style=>"margin-top:8px"}
            = link_to new_company_client_path, :class => "btn btn-small btn-warning" do
              %strong 
                + 添加
            %span.label.label-info
              = "#{@company_clients.except(:offset, :limit).count} 个"

    %tr
      %th
        数据完整度
        / = render "selections_of_court"
      %th
        公司名称
      %th
        地区
      %th
        法人
      /  = render "selections_of_region"
      %th
        操作
  
  %tbody
    - if @company_clients.any?
      - @company_clients.each do |client|
        - c = client.company
        %tr.one-company-in-tr{id: "company-#{c.id}"}
          %td.alarm
            = company_info_badges(c)
          %td.searchable.compay-name-in-list
            = link_to c.name, company_client_path(client,:page=>params[:page]) 
          %td
            = c.area_desc

          %td.searchable
            = c.owner_name
          %td.company-operations
            = link_to "javascript:;", data: {rel: company_client_path(client)}, style: "display: none;" do
              %i.text-error.icon-trash

    - elsif params[:q].present?
      %tr
        %td{colspan: 6}
          没有筛选结果。
          = link_to "返回全部列表", company_clients_path
        
    - else
      %tr
        %td{colspan: 6}
          客户管理列表中暂无企业，您可以通过
          = link_to "导入", new_company_client_path
          - if can? :create, Seek
            或
            = link_to "检索", seeks_path
          添加客户。

= paginate @company_clients
- highlight=params_q[:company_name_or_company_owner_name_or_company_cert_name_or_company_holder_name_cont] 
- if highlight.present?
  :javascript
    $("td.searchable").highlight("#{highlight}");

:javascript
  //$("tbody tr").deletable({toggle: ".company-operations a"});
  // $("tbody tr").deletable({toggle: ".company-operations a", delegateTo: "table", deleteItem: "tr"});
