- unless company.idinfo_crawled
  .alert.alert-info
    该公司的公司信息尚未检索成功

- company.cert = Cert.new unless company.cert

%table.table.table-striped.table-bordered
  %thead
    %tr.alert
      %th.span3
        = Company.human_attribute_name(:name)
      %th
        = company.name
  %tbody
    %tr.alert
      %th= Company.human_attribute_name(:number) 
      %td= company.number 
    %tr.alert
      %th= Company.human_attribute_name(:owner_name) 
      %td= company.owner_name
    %tr.alert
      %th 所属地区
      %td= area_name(company.region_code)


    - cert_attrs.each do |attr|
      %tr
        %th= Cert.human_attribute_name(attr) 
        %td= company.cert.send attr

    %tr
      %th= Cert.human_attribute_name(:check_years) 
      %td
        - if company.check_years.present?
          = company.check_years
        - else
          %i.icon-warning-sign
          无法检索到工商年检信息
            

