- if company.credit.present?
  - cr = company.credit
  %table.table.table-striped.table-bordered
    %tr
      %th{:colspan=>2}
        a) 开户信息
    %tbody
      - attr_attr = [:bank_name, :bank_account, :bank_address, :bank_tel, :avg_digits, :bank_level]
      - attr_attr.each do |item|
        %tr
          %th.span2
            = Credit.human_attribute_name(item) 
          %td.span4
            = cr.send(item)

  %table.table.table-striped.table-bordered
    - attr_attr = [:name, :category, :amount, :due_time, :balance, :deadline]
    %tr
      %th{:colspan=>6}
        b) 贷款信息
    %tr
      - attr_attr.each do |item|
        %th.span2
          = Loan.human_attribute_name(item) 
    - if cr.loans.blank?
      %tr
        %td{:colspan=>6}
          没有贷款信息
    - else
      - cr.loans.each do |l|
        %tr
          - attr_attr.each do |item|
            %td= l.send(item)

  %table.table.table-striped.table-bordered
    - attr_attr = [:name, :category, :amount, :due_time, :balance, :deadline]
    %tr
      %th{:colspan=>2}
        c) 担保信息
    %tr
      - attr_attr.each do |item|
        %th.span2
          = Loan.human_attribute_name(item)

    - if cr.morts.blank?
      %tr
        %td{:colspan=>6}
          没有贷款信息
    - else
      - cr.morts.each do |l|
        %tr
          - attr_attr.each do |item|
            %td= l.send(item)
