.credit-edit.clearfix
  %h3{:style =>"border-bottom:2px solid #34495e;margin-bottom:20px"}
    = @company.name
    %small
      |
    %small
      = @company.owner_name || "法人-未知"
    %small
      |
    %small
      = @company.code || "组织机构号: 未知"
    %small
      |
    %small
      = link_to "导出该公司的征信报告",company_path(@company,:format=>:pdf)
    %p{:style => "float:right"}
      
      = link_to "编辑完成",@company, :class=>"btn"
  = render "shared/company_info_nav"

  .pull-left.span10{:style=>"margin-left:2em"}
    = render "companies/company_tabs",:company=>@company

